footer {
    background-color: #202B57;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}