.tabela {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
  }
  
  .tabela td , .tabela th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .tabela tr:nth-child( even ) { background-color: #f2f2f2;}
  
  .tabela tr:hover { background-color: #37b3cb;}
  
  .tabela th {
    background-color: #37b3cb;
    color: white;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
  }
  